@model Tapyt.Websites.Base.Models.AreaViewModel

<h1>@Model.Title</h1>

@Html.ActionLink("Lav emne", "CreateSubject", "Subject", new { areaid = Model.Id }, new { })
@Html.ActionLink("Opdater område", "UpdateArea", "Area", new { id = Model.Id }, new { })

<div>
    @Html.Raw(Model.Text)
</div>
