@model Tapyt.Websites.Base.Models.VideoViewModel

<div>
    <h3>@Model.Title</h3>
   
    
    @Html.Raw(Model.VideoUrl)
    
    <div>
        @Model.UpVotes (Y) , @Model.DownVotes (N)
    </div>
</div>