@model Tapyt.Websites.Base.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Forside</h1>

@Html.ActionLink("Lav nyt område","CreateArea","Area")

@foreach (var item in Model.Areas)
{
 @Html.ActionLink(item.Title, "Index", "Area", new { alias =item.Alias}, null)   
}